.token-page{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.informations{
background-color: #495371;
color: #FDEFF4;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
border-radius:5px ;
text-align: center;
padding: 20px;
cursor: pointer;
}

.token-buy{
 margin-top: 10px;
background-color: #495371;
color: #FDEFF4;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
border-radius:5px ;
text-align: center;
padding: 5px;
cursor: pointer;
}
.token-buy p{
    margin: 0;
}
.token-buy:hover{
   background-color: #21325E;
}